extends layout.pug
include mixins/post-list

block title
    title Welcome to Reddit Clone!

block content
    div(class="container")
        //h1 Welcome to Reddit!
        img(src="/static/reddit.png")
        ul#sortMethod
            li
                a(href="/sort/top")
                    i(class="fa fa-arrow-up", aria-hidden="true")  Top
            li
                a(href="/sort/hot")
                    i(class="fa fa-fire", aria-hidden="true")  Hot
        +postList(posts)