doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Oxygen")
        // Latest compiled and minified CSS
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
        link(rel="stylesheet", href="/static/app.css")
        script(src="https://use.fontawesome.com/59739eae76.js")
        block title
            title Reddit Clone
    body
        header
            if loggedInUser && !loggedOutUser
                div.container
                    p Welcome #{loggedInUser.username}
                    a(href='/auth/logout') Logout
            else if loggedInUser && loggedOutUser
                div.container
                    p #{loggedInUser.username} , please click on the button to logout
            else
                ul
                    li
                        a(href="/auth/signup")
                            i(class="fa fa-user-plus", aria-hidden="true")  Sing up
                    li
                        a(href="/auth/login")
                            i(class="fa fa-sign-in" aria-hidden="true")  Login
        main
            block content
            block singlePost
        br
        br
        br
        div.container
            footer &copy; 2017 DecodeMTL
        script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js", integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", crossorigin="anonymous")
        script(src="/static/reddit.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")