extends layout.pug
block title
    title Please login
block content
    h1 Login
    form(action="/auth/login", method="POST")
        p
            input(type="text", name="username", placeholder="Enter your username" required)
        p
            input(type="password", name="password", placeholder="Enter your password" required)
        p
            button(type="submit") Login!